<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 映射文件，映射到对应的SQL接口 -->
<mapper namespace="previewoffice.mapper.IDataDictionaryMapper">
	
	<!-- 查询数据 -->
	<!-- 入参定义：在接口定义中使用@Param注解(单参/多参都可使用) -->
	<!-- 语句末尾不能有分号：ORA-00911: invalid character -->

    <resultMap id="DDVO" type="previewoffice.vo.DataDictionaryVO">
        <id property="id" column="ID"/>
        <result property="key" column="KEY"/>
        <result property="value" column="VALUE"/>
        <result property="description" column="DESCRIPTION"/>
    </resultMap>

    <select id="getDDByKey" parameterType="string"  resultType="previewoffice.vo.DataDictionaryVO" resultMap="DDVO">
        select ID,KEY,VALUE,DESCRIPTION from T_DataDictionary where KEY = #{DDkey}
    </select>
    
    <select id="getDDByID" parameterType="string"  resultType="previewoffice.vo.DataDictionaryVO" resultMap="DDVO">
        select ID,KEY,VALUE,DESCRIPTION from T_DataDictionary where ID = #{id}
    </select>
    
 	<select id="getDDValueByKey" parameterType="string"  resultType="string">
        select VALUE from T_DataDictionary where KEY = #{DDkey}
    </select>
    
    <select id="getDDList" resultType="previewoffice.vo.DataDictionaryVO" resultMap="DDVO">
    	select * from T_DataDictionary
    </select>
    
    <insert id="createDD" parameterType="previewoffice.vo.DataDictionaryVO">
    	insert into T_DataDictionary (id,key,value,description) values(#{DD.id},#{DD.key},#{DD.value},#{DD.description})
    </insert>
    
    <delete id="deleteDDByID" parameterType="string">
    	delete from T_DataDictionary where id = #{id}
    </delete>
    
    <update id="updateDD" parameterType="previewoffice.vo.DataDictionaryVO">
    	update T_DataDictionary set key = #{DD.key},value=#{DD.value},description=#{DD.description} where id = #{DD.id}
    </update>
</mapper>