<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 映射文件，映射到对应的SQL接口 -->
<mapper namespace="previewoffice.mapper.IOperRecordMapper">
	
	<!-- 查询数据 -->
	<!-- 入参定义：在接口定义中使用@Param注解(单参/多参都可使用) -->
	<!-- 语句末尾不能有分号：ORA-00911: invalid character -->

    <resultMap id="OperRecord" type="previewoffice.vo.OperRecordVO">
        <id property="id" column="ID"/>
        <result property="operIP" column="oper_IP"/>
        <result property="operTime" column="oper_time"/>
        <result property="operType" column="oper_type"/>
        <result property="operUser" column="oper_user"/>
        <result property="operTypeDesc" column="oper_type_desc"/>
        <result property="bizObjID" column="biz_obj_id"/>
    </resultMap>
	<!-- 
    <select id="getDDByKey" parameterType="string"  resultType="previewoffice.vo.DataDictionaryVO" resultMap="DDVO">
        select ID,KEY,VALUE,DESCRIPTION from T_DataDictionary where KEY = #{DDkey}
    </select>
    
    <select id="getDDByID" parameterType="int"  resultType="previewoffice.vo.DataDictionaryVO" resultMap="DDVO">
        select ID,KEY,VALUE,DESCRIPTION from T_DataDictionary where ID = #{id}
    </select>
    
 	<select id="getDDValueByKey" parameterType="string"  resultType="string">
        select VALUE from T_DataDictionary where KEY = #{DDkey}
    </select> -->
    <select id="queryAll" resultType="previewoffice.vo.OperRecordVO" resultMap="OperRecord">
    	select
    		record.id as id,
    		record.oper_user as oper_user,
    		record.oper_ip as oper_IP,
    		record.oper_time as oper_time,
    		record.oper_type as oper_type,
    		record.oper_type_desc as oper_type_desc,
    		att.file_name as biz_obj_id
    	from 
    		T_OperRecord record 
    		inner join T_Attachment att on record.biz_obj_id = att.id 
    	order by oper_time desc
    </select>
    
    <insert id="createOperRecordByVO" parameterType="previewoffice.vo.OperRecordVO">
    	insert into T_OperRecord (id,oper_IP,oper_time,oper_type,oper_user,oper_type_desc,biz_obj_id) values(#{operRecord.id},#{operRecord.operIP},#{operRecord.operTime},#{operRecord.operType},#{operRecord.operUser},#{operRecord.operTypeDesc},#{operRecord.bizObjID})
    </insert>
    
</mapper>